extends layout
include mixins/piano_scroll
include mixins/piano_label
include mixins/piano_button
include mixins/grid


block select_song_modal
  #select-song-modal.modal
    .modal-dialog.animate__animated
      .modal-content
        form.form-horizontal(method='get')
          .modal-header
            strong Select Song
          .modal-body
            //- .form-group
            //-   label.control-label.col-xs-4(for='dummyText') Dummy text
            //-   .input-group.col-xs-7
            //-     input#dummyText.form-control(type='text' name='dummyText')
            //- table#song-table.display(style='width:100%;')
            //-   thead
            //-     tr
            //-       th Artist
            //-       th Song
            //-       th Difficulty
            //-   tbody

            table#song-table.ui.table-borderless(class="display compact", style="width: 400px;")
              thead
                tr
                  th.sorted.ascending Artist
                  th Song
                  th Difficulty
              tbody   

          .modal-footer
            button.btn.btn-primary(id="select-song-submit-btn", type='submit') Select
            button.btn.btn-default(type='button' onclick='piano.enabled=true; modal.close();') Cancel


block new_song_modal
  #new-song-modal.modal
    .modal-dialog.animate__animated
      .modal-content
        form.form-horizontal(method='get')
          .modal-header
            strong New Song
          .modal-body
            .ui.form
              .field
                label Difficulty
                select.ui.dropdown(id="difficulty-selection")
                    option(value='1') SUPER EASY
                    option(value='2') EASY
                    option(value='3') INTERMEDIATE
                    option(value='4') EXPERT
                  
              .field
                label Artist
                input(id="artist-input" type='text' name='artist' placeholder='Artist')

              .field
                label Song Name
                input(id="song-name-input" type='text' name='song' placeholder='Song')

              .field
                label Key Sheet
                textarea(id="key-sheet-input")

              .fields

                .field
                  label Tempo
                  input(id="tempo-input" type='number' placeholder='Tempo')

                .five.wide.field
                  label Duration
                  inline.fields
                    .field
                      //- label mins
                      input(id="dur-mins-input" type='text' placeholder='00', maxlength="2")
                    .field
                      //- label secs
                      input(id="dur-secs-input" type='text' placeholder='00', maxlength="2")

                .field
                  label Transposition
                  input(id="trans-input" type='number' placeholder='Transposition')

          .modal-footer
            button.btn.btn-primary(id="new-song-submit-btn", type='submit') Submit
            button.btn.btn-default(type='button' onclick='piano.enabled=true; modal.close();') Cancel


block content

  +grid(rows="1fr 3fr")
    // music sheet
    div(class="letter")
      //- .scroll-left(style={"background-image": "url(../imgs/sheet_background.png)", "background-repeat": "no-repeat"})
      //-   p(style="font-size: 35px;") Scroll left...
      +piano_scroll 
      
    // piano
    +grid(rows=".5fr 2fr", astyle={"gap": "20px", "height": "450px", "background-color": "#373737", "padding": "25px", "border-bottom": "34px", "border-radius": "20px"})
      +grid(rows="125px", columns="1fr 2fr 1fr", astyle={"gap": "20px"})

        +grid(rows="1fr 1fr 1fr", astyle={"background-color": "black", "border-radius": "10px", "padding-left": "15px", "padding-top": "10px", "padding-bottom": "10px"})
          +piano_label(id="difficulty-label", icon="../icons/difficulty.png")
          +piano_label(id="tempo-label", icon="../icons/tempo.png")
          +piano_label(id="trans-label", icon="../icons/transposition.png")

        +grid(rows=".75fr .25fr", astyle={"margin-bottom": "25px"})
          +grid(rows="1fr .5fr 1fr", astyle={"background-color": "black", "border-radius": "10px", "padding-top": "10px", "padding-bottom": "10px", "padding-left": "15px"})
            +piano_label(id="artist-label", icon="../icons/artist.png", font_size=16, icon_size=[20, 20])
            div
            +piano_label(id="song-name-label", icon="../icons/note.png", font_size=15, icon_size=[20, 20])
          +grid(columns=".25fr 1fr .25fr", astyle={"background-color": "black", "color": "#DD8540", "border-radius": "10px", "align-items": "center", "margin-top": "10px"})
            .current-time(id="timer-up") 00:00
            span(id="timer-progress") ●
            .total-duration(id="timer-down") -00:00

        +grid(rows="1fr 1fr", astyle={"align-items": "center"})
          +grid(columns="1fr 1fr 2fr")
            - let astyle = {"background-color": "#f33307", "border-color": "#b81705"};
            +piano_button(id="select-song-btn", icon="../icons/sheets.png", astyle=astyle)
            +piano_button(id="new-song-btn", icon="../icons/new_sheet.png", astyle=astyle)
          +grid(columns="1fr 1fr 1fr 1fr")
            - let astyle = {"background-color": "#81868b", "border-color": "#4f5154"};
            +piano_button(id="prev-song-btn", icon="../icons/previous.png", astyle=astyle)
            +piano_button(id="pp-song-btn", icon="../icons/pause.png", astyle=astyle)
            +piano_button(id="next-song-btn", icon="../icons/next.png", astyle=astyle)
            +piano_button(id="sr-song-btn", icon="../icons/stop.png", astyle=astyle)

    
      div(class="piano-keys")

        - var i = 0;
        - var j = 0;
        - var c = 0;

        while i < 2
          // 3 seg
          - j = 0;
          while j < 2
            button(class="piano-key-white", id="key" + c)
            button(class="piano-key-black", id="key" + (c + 1))
            - j++;
            - c += 2;
          button(class="piano-key-white", id="key" + c)
          - c += 1;

          // 5 seg
          - j = 0;
          while j < 3
            button(class="piano-key-white", id="key" + c)
            button(class="piano-key-black", id="key" + (c + 1))
            - j++;
            - c += 2;
          button(class="piano-key-white", id="key" + c)
          - c += 1;

          - i++;

        //- while j < 12
        //-   button(class="piano-key-white", id="key" + c)
        //-   button(class="piano-key-black", id="key" + (c + 1))
        //-   - j++;
        //-   - c += 2;
        //- button(class="piano-key-white", id="key" + c)
        






















//- , style={"gap": "20px", "background-color": "#373737", "padding": "25px", "border-bottom": "34px", "border-radius": "20px"}






    //- div //header
      
    //-   div //display left
    //-     div  // row 1
    //-       div
    //-       div
    //-     div  // row 2
    //-       div
    //-       div
    //-     div  // row 3
    //-       div
    //-       div
      
    //-   div // display middle
    //-     div  // row 1
    //-       div
    //-       div
    //-     div  // row 2
    //-       div
    //-       div
    //-     div  // row 3
    //-       // slider
      
    //-   div // button group 
    //-     div  // row 1
    //-       div // btn 1
    //-       div // btn 2
    //-     div  // row 2
    //-       div // btn 1
    //-       div // btn 2
    //-       div // btn 3
    //-       div // btn 4



    //- div(class="piano-header")
    //-   div(class="piano-display-left")
    //-     div
    //-       img(src="../icons/difficulty1.png")
    //-       div(id="difficulty-label", )
    //-         | difficulty
    //-     div(id="tempo-label", )
    //-       | tempo
    //-     div(id="transposition-label", )
    //-       | transposition

    //-   div(class="piano-display-main")
    //-     div(id="song-label", style="font-size: 24px; font-weight: bold; margin-top: auto;") 
    //-       | song name
    //-     div(class="piano-ticker") 
    //-       div(id="time-label", class="piano-ticker-time") 
    //-         | time
    //-       div(id="feed-label", class="piano-ticker-feed") 
    //-         | feed

    //-   div(class="piano-buttons")
    //-     button(id="blank-button", class="piano-button")
    //-     button(id="reset-button", class="piano-button")
    //-     button(id="load-button", class="piano-button")